* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

/* body for index */
.index {
    padding: 0px;
    margin: 0px;
    background-image: url('/page/assets/img/Backround1.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home div {
    padding: 10px;
    height: 100%;
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home div button {
    padding: 16px 40px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(180deg, #6a9cd6 0%, #222747 100%);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(230,36,41,0.15);
    cursor: pointer;
    letter-spacing: 2px;
    transition: background 0.5s, transform 0.5s; 
}

.home div button:hover {
    background: linear-gradient(180deg, #8b2100 0%, #8b2100 100%);
    transform: scale(1.05);
}

.card-container {
    background-color: #8f816f;
    margin-top: 90px;
    padding: 40px 0;
    min-width: none;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 300px;
}

.card {
    padding: 80px 40px;
    width: 600px;
    height: 750px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

#emma-frost {
    background: linear-gradient(45deg, #2838a0 0%, #dddddd 100%);
    box-shadow: 0 4px 16px rgba(122, 122, 122, 0.705);
}

#psylocke {
    background: linear-gradient(45deg, #c78ce2 0%, #ec7070 100%);
    box-shadow: 0 4px 16px rgba(122, 122, 122, 0.705);
}

#loki {
    background: linear-gradient(45deg, #79d367 0%, #c2b725 100%);
    box-shadow: 0 4px 16px rgba(122, 122, 122, 0.705);
}

#spider-man {
    background: linear-gradient(45deg, #fc7171 0%, #7a9cf8 100%);
    box-shadow: 0 4px 16px rgba(122, 122, 122, 0.705);
}
    
#luna-snow {
    background: linear-gradient(45deg, #3f72ff 0%, #abf3f3 100%);
    box-shadow: 0 4px 16px rgba(122, 122, 122, 0.705);
}

#doctor-strange {
    background: linear-gradient(45deg, #ec3434 0%, #464646 100%);
    box-shadow: 0 4px 16px rgba(122, 122, 122, 0.705);
}

.card-image-container {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 5px solid #ffffff10;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header {
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    align-self: center;
    text-shadow: 2px 2px 8px #9b9b9b, 0 0 4px #000;
}

.card-description {
    padding: 20px;
    font-size: 1.3rem;
    color: #fff;
    text-align: justify;
    text-shadow: 1px 1px 6px #9b9b9b, 0 0 2px #000;

}

.additional-info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 0 20px;
}

.hp,
.role {
    border: 3px solid #ffffff10;
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    text-shadow: 1px 1px 6px #9b9b9b, 0 0 2px #000;
}

.nav-container {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100vh;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar-logo {
    height: 50px;
    width: auto;
}

.navbar-logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
}

.footer-container {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    height: 70px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container p {
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 1.3rem;
}
